/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/Components /NavBar/NavBar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.NavBar_nav_container__TzXg5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    color: black;
 
}

.NavBar_menu_container__i_jsF {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #F78CA2;
    display: grid;
    place-items:center;
    position: fixed;
}
.NavBar_menu_box__id_oU {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}


.NavBar_title__JhBSp h3 {
    font-size: 2rem;
}

.NavBar_bars__icpDx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem 0rem 0rem 
}
@media screen and (max-width: 900px) {
    .NavBar_menu_container__i_jsF {
        width: 100vw;
    }
}


/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/Components /CircleSideBar/CircleSideBar.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
.CircleSideBar_circle_container__q_vqr {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: -moz-fit-content;
    height: fit-content;
    gap: 2rem;
    padding-left: 1rem;
}
.CircleSideBar_circle__p5HzQ {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
 
}
@media screen and (max-width: 900px) {
    .CircleSideBar_circle_container__q_vqr {
        display: none;
    }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/Components /Hero/Hero.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Hero_hero_container__M8ZFS {


    background: linear-gradient(180deg, #C70039 0%, rgb(56, 8, 8) 100%);
    height: 100vh;  
    color: white;
  background-color: #F7F3F0;
      
}

.Hero_row__P2oft {
    display: flex;
    justify-content: center;
    align-items: center;

}


.Hero_hero_row__HOOlY {
    
    color: white;
   font-size: 6rem;
}

.Hero_letters__XZ6vq {
    display: inline-block;
}
.Hero_plate__782pP {
    grid-row: 2/3;
}

.Hero_top_title__Ta64v {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Hero_hero_grid__dL2_r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.Hero_center__NjZ5v {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.Hero_center__NjZ5v button {
    padding: 1rem 0.8rem;
    border-radius:1rem ;
    border: none;
    background-color: #C70039;
    color: white;
    cursor: pointer;
}

.Hero_campus_menu__PxPPJ {
    background-color: #C70039;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
    width: 10rem;
    height: 10rem;
}
@media screen and (min-width: 900px) {
    .Hero_hero_grid__dL2_r {
        font-size: 6rem;
    }
}
@media screen and (max-width: 900px) {
    .Hero_hero_grid__dL2_r {
        font-size: 3rem;
    }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/Components /Loading/Loading.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.Loading_loading_container__leLb9 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #C70039 0%, rgb(56, 8, 8) 100%);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

.page_plate__6PDmA 
{
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
