.circle_container {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    gap: 2rem;
    padding-left: 1rem;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
 
}
@media screen and (width<=900px) {
    .circle_container {
        display: none;
    }
}